*{
    box-sizing: border-box;
}

body{

}

.header {
    padding: 20px;
    text-align: center;
    background-color: darkslateblue;
    color: white;
}
.navbar{
    display: flex;
    background-color: black;
}
.navbar a{
    height: 50px;
    color: white;
    padding: 15px 20px;
    text-decoration: underline;
    text-align: center;
}

.navbar a:hover {
    background-color: red;
    color:black;
}

.row{
    display:flex;
    flex-wrap: wrap;
}

.row img{
    height: 200px;
}

.side {
    flex: 30%;
    text-align: center;
    background-color: lightgrey;
    padding: 20px; 
}

.side img{
    height: 60px;
}

.main{
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.fakeimg{
    background-color: darkgrey
    width: 100%;
    padding: 20px;
}

.footer{
    padding: 20px;
    text-align: center;
    background: darkslateblue;
}

